@media screen and (max-width:700px) {
    
    header{
        padding: 15px;
    }
    header nav{
        display: none;
    }
    header .nav-aside{
        display: block;
    }

    .categorie{
        padding: 10px;
    }
    .categorie article{
        display: flex;
        flex-direction: column;
    }
    .categorie aside{
        margin:20px 0;
    }

    
.img:nth-child(1){
    background: url(../../../img/img_chambre/bckgrd/deux.jpg);
    background-position: center;
    background-size: cover;
}
.img:nth-child(2){
    display: none;
}
.img:nth-child(3){
    display: none;
}
.img:nth-child(4){
    display: none;
}
.img:nth-child(5){
    display: none;
}

}